<div class="col-10 offset-1 about">
<h1>About Splurty</h1>

<p>
	This page was built by <a target="_blank" href="http://github.com/seanlo424">Sean</a>
</p>
<br />
<p>
	While he is just learning, this page is the start to an amazing journey where he plans to achomplish many amazing projects just like this one! He is learning from the online bootcamp from UC Berkeley Extension program.
</p>
<p>
	If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
</p>


<div class="row">
	<div class="col-12 col-sm-4">
		<%= image_tag 'me.jpg', class: 'img-fluid' %>
	</div>

	<div class="col-12 col-sm-7 offset-sm-1">
		<h2 class="text-center">Sean O'Neil</h2>
		<br />
		<p>
			Sean is a web developer in training. He is currently working his way through a online coding bootcamp. After he completes the course he hopes to transition his carrer into the tech world.
		</p>
	</div>
</div>

</div>


<br class="clear"/>
<br />
<br />
<br />
<br />
</div>

</div>